includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        -
            identifier: trait.unused
            message: '#InteractsWithSteppedTabs is used zero times#'
            path: src/Concerns/InteractsWithSteppedTabs.php
